main > .content {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  max-width: 425px;
}

.number {
  font-size: calc(4vw + 4vh);
  color: var(--color-red);
}

label {
  font-weight: bold;
  width: 20%;
}
label::after {
  content: ': ';
}

.input-group {
  margin-top: 0.5em;
}

.input-group span {
  font-weight: bold;
}

.input-group button {
  padding: 1em;
  width: 8em;
  margin: 0 0.5em;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: 0.5em solid var(--color-white);
  border-radius: 0.25em;
  font-weight: bold;
}
.input-group button:disabled {
  background-color: var(--color-disabled);
  color: var(--color-text);
}

select,
option {
  width: 80%;
  padding: 0.5em;
  text-align: right;
}

textarea {
  width: 90%;
  font-family: inherit;
  font-size: inherit;
  white-space: normal;
  text-align: center;
}

.result {
  border-radius: 0.25em;
  margin: 0.5em 0;
  padding: 0.5em;
  font-weight: bold;
  color: var(--color-white);
}

.result-correct {
  border: 0.5em solid var(--color-success);
  background: var(--color-success);
}
.result-wrong {
  border: 0.5em solid var(--color-warning);
  background: var(--color-warning);
}
