section {
  display: flex;
  flex-direction: column;
  max-width: 769px;
  margin: 0 auto;
}

.challenge {
  font-size: calc(4vw + 4vh);
  color: var(--color-red);
}

label {
  font-weight: bold;
  width: 20%;
}
label::after {
  content: ': ';
}

.input-group {
  margin-top: 0.5em;
}

.input-group span {
  font-weight: bold;
}

.input-group button {
  padding: 0.5em;
  font-size: 0.8em;
  width: 8em;
  margin: 0 0.5em;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: 0.25em solid var(--color-blue);
  border-radius: 0.25em;
  font-weight: bold;
}
.input-group button:disabled {
  background-color: var(--color-disabled);
  border: 0.25em solid var(--color-disabled);
  color: var(--color-secondary);
}

select,
option {
  width: 80%;
  padding: 0.5em;
  border: 0.15em solid var(--color-secondary);
  border-radius: 0.25em;
}
