header {
  margin: 0.5em;
  max-height: 4em;
  background-color: var(--color-white);
}

@media (min-width: 418px) {
  header {
    margin: 1em;
    max-height: 8em;
  }
}

header img {
  height: auto;
  max-width: 80%;
}
