nav {
  background-color: var(--color-blue);
  padding: 1rem;
  margin-bottom: 1rem;
}

.title h1 {
  font-size: 1.5em;
  margin: 0;
  color: var(--color-white);
}

@media (min-width: 426px) {
  .title h1 {
    font-size: 2em;
  }
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle a {
  text-decoration: none;
  padding-right: 0.5em;
  color: var(--color-red);
}

.subtitle a:hover {
  color: var(--color-white);
}

.subtitle h1 {
  font-size: 1.5em;
  margin: 0;
  color: var(--color-white);
}

@media (min-width: 426px) {
  .subtitle h1 {
    font-size: 2em;
  }
}
