html[data-theme='light'] {
  --border-option: var(--color-blue);
  --color-option: var(--color-blue);
  --bg-option: var(--background-white);
  --hover-option: var(--background-blue);
}

html[data-theme='dark'] {
  --border-option: var(--color-white);
  --color-option: var(--color-white);
  --bg-option: var(--background-blue);
  --hover-option: var(--color-blue);
}

.main-menu {
  margin: 0 auto;
  padding: 0;
  max-width: 769px;
  display: flex;
  flex-direction: column;
}

.main-menu a {
  text-decoration: none;
  margin: 0 auto 0.5em;
  padding: 0.5em 0;
  font-size: 1.2em;
  width: 90%;
  border: 0.25em solid var(--border-option);
  border-radius: 0.25em;
  cursor: pointer;
  font-weight: bold;
  color: var(--color-option);
  background-color: var(--bg-option);
}

@media (min-width: 426px) {
  .main-menu a {
    width: 80%;
  }
}

.main-menu a:hover {
  background-color: var(--hover-option);
}
